# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
build_tmp/
dist/
*.spec.bak

# PyInstaller
desktop/gs_bin/
gs_install/
gs_installer.exe

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
